* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

header {
    width: 100%;
}

.cabeçalho {
    width: 100%;
    background-color: rgba(92, 6, 6, 0.9);
    height: 100px;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: cadetblue;
    margin: 8px;
    cursor: pointer;
}

.nav-button i {
    color: white;
}

.foto-perfil {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 68%;
    margin: 10px;
}

.content {
    width: 90%;
    margin: 50px;
    padding-top: 65px;
    padding-left: 40%;
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 28px;
}

footer {
    width: 100%;
    background-color: rgba(92, 6, 6, 0.9);
    height: 80px;
    text-align: center;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}
/* Media queries para dispositivos com largura de tela menor que 768px */
@media (max-width: 767px) {
    .foto-perfil {
        width: 100%;
        height: auto;
        text-align: center;
        display: flex;
    }

    .content {
        padding-left: 0;
        margin: 20px;
    }

    footer {
        padding: 10px;
        height: auto;
    }
}

/* Media queries para dispositivos com largura de tela menor que 480px */
@media (max-width: 479px) {
    .content {
        font-size: 24px;
    }
}
