* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.cabeçalho {
    background-color: rgba(92, 6, 6, 0.9);
    width: 100%;
    height: 100px;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: cadetblue;
    margin: 8px;
    cursor: pointer;
}

.nav-button i {
    color: white;
}

.content {
    display: block;
    height: 355px;
    text-align: center;
    margin: 20px;
}

.projetos {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.fotos-projetos {
    margin: 10px;
}

footer {
    width: 100%;
    background-color: rgba(92, 6, 6, 0.9);
    height: 80px;
    text-align: center;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}

/* Media query para telas menores que 768px */
@media (max-width: 767px) {
    .content {
        font-size: 20px;
    }

    .fotos-projetos {
        flex-basis: 100%; /* Uma coluna em telas menores */
    }
}
