* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

.cabeçalho {
    background-color: rgba(92, 6, 6, 0.9);
    width: 100%;
    height: 100px;
}

.nav-button {
    border: 0;
    border-radius: 4px;
    padding: 8px;
    background-color: cadetblue;
    margin: 8px;
    cursor: pointer;
}

.nav-button i {
    color: white;
}

.content {
    display: flex;
    margin: 20px;
    text-align: center;
    flex-direction: column;
    font-size: 25px;
    line-height: 2;
}

.listaDeContato {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    line-height: 2;
}

.icon {
    font-size: 25px;
    margin-right: 5px;
}

footer {
    width: 100%;
    background-color: rgba(92, 6, 6, 0.9);
    height: 80px;
    text-align: center;
    padding: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
}
